/* Mendel Engelaer 10996222 */
/* Made slider with help from:
   source: https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 40%; /* Full-width */
    height: 10px; /* Specified height */
    border-radius: 5px;
    background: darkgrey; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    cursor: pointer;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

body {
  background-color: #eee;
  font-family: helvetica, sans-serif;
  font-weight: 100;
}

.tick {
  font-size: 12px;
}

.title {
  font-size: 20px;
}

.plotTitle {
  font-size: 17px;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: blue;
    background-color: #4CAF50;
    padding: 10px 20px;
    position: relative;
    left: 30px;
    bottom: -100px;
}
